@{
    ViewData["Title"] = "Privacy Policy";
    var hostName = "https://localhost:7238/";
}
<h1>@ViewData["Title"]</h1>
<style>

    @@font-face{
        font-family: myOngDo;
        src: url("@hostName/font/vniongdo.ttf");
    }
</style>

<p style="font-family:myOngDo;">Use this page to detail your site's privacy policy.</p>
